'body':
  'ctrl-shift-w': 'tabs:close-all-tabs'

'atom-text-editor':
  'alt-up': 'core:move-up'
  'alt-down': 'core:move-down'
  'ctrl-alt-cmd-shift-left': 'window:focus-pane-on-left'
  'ctrl-alt-cmd-shift-up': 'window:focus-pane-above'
  'ctrl-alt-cmd-shift-down': 'window:focus-pane-below'

'atom-text-editor:not([mini])':
  'alt-up': 'editor:move-line-up'
  'alt-down': 'editor:move-line-down'
  'alt-shift-up': 'bracket-matcher:select-inside-brackets'

'.platform-win32 atom-text-editor:not([mini]), .platform-linux atom-text-editor:not([mini])':
  'ctrl-d': 'editor:delete-line'
  'ctrl-l': 'go-to-line:toggle'
  'ctrl-alt-down': 'editor:duplicate-lines'
  'ctrl-alt-up': 'editor:duplicate-lines'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'ctrl-h': 'project-find:show'
  'ctrl-S': 'window:save-all'

'.platform-win32, .platform-linux':
  # split pane
  'ctrl-shift-j': 'pane:split-left'
  'ctrl-alt-l': 'pane:split-right'
  'ctrl-shift-k': 'pane:split-up'
  # move pane item
  'ctrl-shift-alt-j': 'indow:move-active-item-to-pane-on-left'
  'ctrl-shift-alt-l': 'window:move-active-item-to-pane-on-right'
  'ctrl-shift-alt-k': 'window:move-active-item-to-pane-above'
